@using TestASP.NetIdentity.DomainEntities;
@model Questionnaire



<div id="Preview">
    <div class="panel panel-info">


        @Html.DisplayFor(model => model.Question.QuestionTitle)
    </div>

</div>