@model TestASP.NetIdentity.DomainEntities.Application

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Application</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AdId" class="form-control" asp-items="ViewBag.AdId"></select>
                <span asp-validation-for="AdId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Answer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
